<div class='date-container'>
  <div class='date-day'>{{date}}<sup>{{th}}</sup> {{weekDay}}</div>
  <div class='date-box'>
    <div class='date-month-time'>
      <p class='date-month'>{{month}}</p>
      <p class='date-time'>{{time}}</p>
    </div>
    <div class='date-sun'>
      <div class='date-sunrise'>
        <img class='date-sunrise-icon' src='{{sansetImg}}' alt='Восход солнца' />
        <p class='date-sunrise-time'>07:04</p>
      </div>
      <div class='date-sunset'>
        <img class='date-sunset-icon' src='{{sunriseImg}}' alt='Закат солнца' />
        <p class='date-sunset-time'>17:05</p>
      </div>
    </div>
  </div>
</div>