{{#each this}}

  <div class='five-days__hour-list-card' data-date='{{dt}}'>
    <div class='five-days__weather-hour'>
      <ul class='five-days__weather-hour-list'>
        <li class='five-days__list-item text-font'>{{hour}}</li>
        <li class='five-days__list-item'>
          <img class='five-days__central-image' src='{{icon}}' width='35px' height='35px' alt='' />
        </li>
        <li class='five-days__list-item temp-text-font'>{{temp}}°</li>
      </ul>
      <ul class='five-days__info-list'>
        <li class='info-list__list-item'>
          <p class='five-days__text-barometer text-font'>{{pressure}} mm</p>
        </li>
        <li class='info-list__list-item'>
          <p class='five-days__text-humidity text-font'>{{humidity}}%</p>
        </li>
        <li class='info-list__list-item'>
          <p class='five-days__text-wind text-font'>{{windSpeed}} m/s</p>
        </li>
      </ul>
    </div>
  </div>
{{/each}}